<%= form_with(model: @chat, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= @chat.errors.count %>件のエラーがあります。</h2>
      <ul>
          
      <% @chat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>      
      </ul>
    </div>
  <% end %>

  <div class= "chat_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "トップページに戻る",chats_path %>